<html><head><style>* {
  box-sizing: border-box;
}


body {
  color: blue;
}

  {
  background-image:https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/01-luxury-fashion-wildlife-trade-h_14410411.jpg?w=1600&h=900
}